* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: rgb(12, 1, 31);
}

.topnav{
   display: flex;
   flex-direction: row;
    margin: 10px;
    background-color: rgb(12, 1, 31);
    overflow: hidden;
}

.topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.portfolio_container {
    background-color: yellow;
}

.portfolio_pic > img {
    padding-left: 30px;
    padding-top: 20px;
    width: 200px;
    height: 250px;
}

.portfolio_pic > h1 {
    
    padding-left: 70px;
    margin-top: -70px;
    color: white;
    font-size: 45px;
}

.portfolio_text > p {
    text-align: center;
    font-size: 15px;
    color: black;
    margin-top: -160px;
    padding-bottom: 10px;
    padding-left: 250px;
    padding-right: 70px;
}

.about_container {
    margin: 160px;
}

.about_container > h1 {
    color: white;
    font-size: 50px;
}

.about_container > h4 {
    color: white;
    font-size: 10px;
}

.about_container > h6 {
    color:  white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.about_btn {
    color: rgb(12, 1, 31);
    font-size: 10px;
    font-weight: bold;
    background-color: yellow;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.contact_us_container {
    background-color: yellow;
}

.contact_us_container > h1 {
    color: black;
    font-size: 20px;
    text-align: right;
    margin: 30px;
    padding-top: 30px ;
    padding-right: 60px;
}

.link_container {
    text-align: right;
    padding-bottom: 30px;
}

.link_container > a {
    color: black;
    text-decoration: none;
    padding: 0 30px 0 5px;
    
}

.link_container > p {
    margin: 30px;
    color: black;
    text-decoration: none;
    padding: 0 30px 0 5px;
    
}

.form_container > form {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 290px;
    padding-bottom: 30px;
    margin-top: -230px;
}

.form_container > form > input {
    border: none;
    border-bottom: 2px solid rgb(12, 1, 31);
    background-color: yellow;
    padding: 10px;
    outline: transparent;
    
}

.form_container > form > textarea {
    border: none;
    border-bottom: 2px solid rgb(12, 1, 31);
    background-color: yellow;
    padding: 10px;
    outline: transparent;
}

.form_container > form > button {
    color: yellow;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(12, 1, 31);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.overview_container {
    color: white;
    font-size: 20px;
    margin: 30px;
    padding: 15px;
}

.overview_container > h6 {
    color:  white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

@media only screen and (max-width: 768px) {

    .portfolio_container{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        padding-top: 200px;
        padding-bottom: 150px;
        
    }

    .portfolio_pic {
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .portfolio_text > p {
        text-align: center;
        font-size: 15px;
        color: black;
        margin-top: -200px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .portfolio_pic > img {
        margin-bottom: -700px;
        padding: 0;
        width: 400px;
        height: 700px;
    }
    
    .portfolio_pic > h1 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: -300px;
        padding-right: 80px;
        margin-left: -50px;
        color: black;
        font-size: 45px;
    }
    
    
.about_container {
    margin: 160px;
    margin-top: 700px;
}
    
    
}